/* Modal styling */
/* Outside of .App */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  z-index: 2000;           /* Ensure it stays on top */
}

.modalContent {
  /* display: flex inline-block; */
  display: flex; 
  flex-direction: column;
  background-color: lightgray;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;             /* Responsive width on small screens */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;     /* Context for close buttons if needed */

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;

    strong {
      /* color: red; */
      margin-right: auto;
      /* justify-content: flex-end; */
      position: absolute;
      bottom: 6px;
    }

    .settingsToggleButton {
      margin-left: auto;
      /* flex-grow: 1; */
    }

    strong + span {

      pre {
        /* flex-wrap: wrap; */
        /* text-overflow: ellipsis; */
        overflow-wrap: anywhere;
      }

    }

  }

}

