.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.piece {
  /* font-size: 48px; */
  width: 60px;
  height: 60px;
  vertical-align: bottom;
}

.square {
  /* float: left; */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
  border: 0px;
  padding: 0;
  height: 80px;
  width: 80px;
  vertical-align: top;
  margin-right: 0px;
  margin-top: 0px;
}

.square.light {
  background: #F0DDDE;
}

.square.dark {
  background: #674343;
}

.game-board {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
